crewai
polars
duckdb
chromadb
python-dotenv
charset-normalizer
openpyxl
python-calamine
boto3
langsmith
opentelemetry-api~=1.34.0
opentelemetry-sdk~=1.34.0
opentelemetry-exporter-otlp-proto-grpc~=1.34.0
opentelemetry-exporter-otlp-proto-http~=1.34.0
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-openai
fastapi
uvicorn[standard]
python-multipart
pyyaml
